In [1]:
library(SparkR, lib.loc = c(file.path(Sys.getenv("SPARK_HOME"), "R", "lib")))

Attaching package: 'SparkR'

The following objects are masked from 'package:stats':

    cov, filter, lag, na.omit, predict, sd, var

The following objects are masked from 'package:base':

    colnames, colnames<-, intersect, rank, rbind, sample, subset,
    summary, table, transform

In [2]:
sc <- sparkR.init(sparkJars="/usr/share/java/mysql-connector-java.jar", 
  sparkPackages="com.databricks:spark-csv_2.10:1.4.0")
sqlContext <- sparkRSQL.init(sc)

Launching java with spark-submit command /root/spark-1.6.0-bin-fluxcapacitor/bin/spark-submit --jars /usr/share/java/mysql-connector-java-5.1.28.jar --packages com.databricks:spark-csv_2.10:1.4.0 sparkr-shell /tmp/Rtmphe6bKj/backend_port2f8518018e0b

In [3]:
movieRatingsDF <- read.df(sqlContext, 
  "/root/pipeline/datasets/movielens/ml-latest/ratings.csv", 
  "com.databricks.spark.csv")

In [4]:
head(movieRatingsDF)

      C0      C1     C2         C3
1 userId movieId rating  timestamp
2      1      50    4.0 1329753504
3      1     296    4.0 1329753602
4      1     318    4.5 1329753494
5      1     527    4.5 1329753507
6      1     541    3.0 1329753607

In [5]:
hiveContext <- sparkRHive.init(sc)
hiveContext

Java ref type org.apache.spark.sql.hive.HiveContext id 19

In [6]:
results <- sql(hiveContext, "SELECT * FROM movie_ratings")
head(results)

  userId movieId rating  timestamp
1      1      50    4.0 1329753504
2      1     296    4.0 1329753602
3      1     318    4.5 1329753494
4      1     527    4.5 1329753507
5      1     541    3.0 1329753607
6      1     608    4.0 1329753638